.event-summary {
    padding: 78.5px 70px;
    display: flex;
    flex-direction: column;
    .event-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;

        .event-title {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            max-width: 600px;
        }
    }

    .event-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .event-details {
            flex: 1;
            margin-right: 20px;

            .event-date {
                color: #336913;
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            .event-time {
                color: #000000;
                font-size: 1.5rem;
                margin-bottom: 10px;
            }

            .event-description {
                margin-bottom: 20px;
                font-size: 1rem;
            }

            .event-link {
                display: inline-block;
                padding: 10px 20px;
                background-color: #336913;
                color: #fff;
                text-decoration: none;
                border-radius: 40px;
                text-align: center;

                &:hover {
                    background-color: darken(#336913, 10%);
                }
            }
        }

        .event-image {
            flex: 1;
            margin-right: 20px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .event-tabs {
        display: flex;
        flex-direction: row;

        .tab-item {
            padding: 10px;
            border-top: 2px solid transparent;
            cursor: pointer;

            h2 {
                margin: 0;
                font-size: 1.5rem;
            }

            p {
                margin: 5px 0 0;
                font-size: 1rem;
            }
        }

        .tab-item.active {
            border-top: 2px solid #336913;
        }
    }
}
