footer {
    background-color: #004d40;
    padding: 20px;
    color: #fff;

    .footer-content {
        text-align: center;

        .footer-copy {
            font-size: 16px;
            margin: 0;
            padding: 10px 0;
        }
    }
}
